/*Universal Selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #e7eaf6;
   


}

/*Header and Start Page*/

/*Style header containing timer and high score link*/
header {
    margin: 20px;
    font-size: 1.5rem;
}

#currentTime {
    float: right;
}

#highscores {
    text-decoration: none;
    cursor: pointer;
}

/*Question container styling*/
#container {
    display: block;
    text-align: center;
    align-items: center;
    margin: 100px
}

/*Style background and font throughout quiz*/
body {
    background-color: #113f67;
    
}

p {
    font-size: 1.5rem;
    margin: 20px;
}


/*Adds style to buttons*/
button {
    background-color: #38598b;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #e7eaf6;
    color: #38598b;
}

/*Questions*/

/*Question font-size*/
#questions-element  {
    font-size: 1.5rem;
}

/*Answer choice style*/
li {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10px;
    margin-top: 30px;
    list-style: none;
    background-color: #38598b;
 
}
li:hover {
    cursor: pointer;
    background-color: #e7eaf6;
    color:  #113f67;
}

/*Highscore Page*/

/*Initial input box style*/
#initials {
    padding: 8px;
    color: black;
    font-size: 1.5rem;
    width: 10%;
}
